* {
  margin: 0;
  padding: 0;
}
.headding {
  margin-left: 600px;
  margin-top: 100px;
  font-family: 'Montserrat'
}



.aboutButton {
  border: 1px solid #000000;
  margin-left: 683px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1E1E1E;
  margin-bottom: 142px;

}
